@model GetTasksInBoardViewModel
@{
    var id = (int)Context.Session.GetInt32("Id");
    var nombreDeUsuario = Context.Session.GetString("NombreDeUsuario");
    var rol = Context.Session.GetString("Rol");
    ViewData["Title"] = "Tareas del tablero";
}

<div class="text-center">
    <h1 class="text-primary">Tareas del tablero @Model.IDBoard</h1>
</div>
@if (@Model.IdOwnerBoard == id || rol == "Administrador") {
    <div class="">
    <a class="text-decoration-none me-1 btn btn-primary" asp-controller="Task" asp-action="CreateTask" asp-route-idBoard="@Model.IDBoard">Crear Tarea</a>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Tablero</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Descripción</th>
            <th scope="col">Color</th>
            <th scope="col">Usuario Asignado</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model.Tareas) {
            <tr>
                <th scope="row">@tarea.OwnerBoard</th>
                <th scope="row">@tarea.Nombre</th>
                <th scope="row">@tarea.EstadoTarea</th>
                <th scope="row">@tarea.Descripcion</th>
                <th scope="row">@tarea.Color</th>
                <th scope="row">@tarea.NombreProp</th>
                @if (tarea.Id_usuario_asignado == id && tarea.Id_usuario_asignado != @Model.IdOwnerBoard) {
                    <td>
                        <a class="text-decoration-none me-1 btn btn-primary" asp-controller="Task" asp-action="UpdateStatusTask" asp-route-idTask="@tarea.Id" asp-route-idBoard="@tarea.IdTablero">Cambiar Estado</a>
                    </td>
                } else {
                    <td></td>
                }
                @if (@Model.IdOwnerBoard == id || rol == "Administrador") {
                    <td>
                        <a class="text-decoration-none ms-1 btn btn-primary" asp-controller="Task" asp-action="UpdateTask" asp-route-idTarea="@tarea.Id">Editar</a>
                    </td>
                    <td>
                        <a class="text-decoration-none ms-1 btn btn-primary" asp-controller="Task" asp-action="DeleteTask" asp-route-idTarea="@tarea.Id" asp-route-idBoard="@tarea.IdTablero" onclick="return confirm('¿Estas seguro que quieres eliminar la tarea @tarea.Nombre?')">Eliminar</a>
                    </td>
                } else {
                    <td></td>
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>