@{
    ViewData["Title"] = "Tareas del usuario";
}
@model GetTareasViewModel
@{
    var id = (int)Context.Session.GetInt32("Id");
    var nombreDeUsuario = Context.Session.GetString("NombreDeUsuario");
    var rol = Context.Session.GetString("Rol");
}

<div class="text-center">
    <h1 class="text-primary">Tareas</h1>
</div>
<div class="text-center mt-3">
    <h6>Para cambiar de estado una tarea, editar o eliminar debes dirigirte al tablero donde se encuentra cada una.</h6>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Id Tablero</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Descripción</th>
            <th scope="col">Color</th>
            <th scope="col">Id Usuario Asignado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model.Tareas) {
            <tr>
                <th scope="row">@tarea.Id</th>
                <th scope="row">@tarea.IdTablero</th>
                <th scope="row">@tarea.Nombre</th>
                <th scope="row">@tarea.EstadoTarea</th>
                <th scope="row">@tarea.Descripcion</th>
                <th scope="row">@tarea.Color</th>
                <th scope="row">@tarea.Id_usuario_asignado</th>
            </tr>
        }
    </tbody>
</table>