@model AltaTareaViewModel

<h1 class="text-center">Crear Tarea</h1>
<form asp-controller="Tarea" asp-action="CreateTarea">
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.IdTablero"></label>
        <select class="form-select w-50" aria-label="Default select example" asp-for="@Model.IdTablero">
            <option selected>Seleccione uno</option>
            @foreach (var tablero in Model.Tableros)
            {
                <option>@tablero.Id</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Nombre"></label>
        <input class="form-control w-50" asp-for="@Model.Nombre" max="40" required>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.EstadoTarea"></label>
        <select class="form-select w-50" aria-label="Default select example" asp-for="@Model.EstadoTarea" required>
        <option selected>Seleccione uno</option>
        @foreach (var estado in Enum.GetValues(typeof(EstadoTarea)))
        {
            <option value="@estado">@estado</option>
        }
</select>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Descripcion"></label>
        <input class="form-control w-50" asp-for="@Model.Descripcion" max="200" required>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Color"></label>
        <input class="form-control w-50" asp-for="@Model.Color" max="20" required>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Id_usuario_asignado"></label>
        <select class="form-select w-50" aria-label="Default select example" asp-for="@Model.Id_usuario_asignado">
            <option selected>Seleccione uno</option>
            @foreach (var usuario in Model.Usuarios)
            {
                <option>@usuario.Id</option>
            }
        </select>
    </div>
    <button class="btn btn-primary mt-2" type="submit">Enviar</button>
</form>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}