@model List<Tarea>

<div class="text-center">
    <h1 class="text-primary">Tareas</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Id Tablero</th>}
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Descripción</th>
            <th scope="col">Color</th>
            <th scope="col">Id Usuario Asignado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model) {
            <tr>
                <th scope="row">@tarea.Id</th>
                <th scope="row">@tarea.IdTablero</th>
                <th scope="row">@tarea.Nombre</th>
                <th scope="row">@tarea.EstadoTarea</th>
                <th scope="row">@tarea.Descripcion</th>
                <th scope="row">@tarea.Color</th>
                <th scope="row">@tarea.Id_usuario_asignado</th>
                <td>
                    <a class="text-decoration-none me-1 btn btn-primary" asp-controller="Tarea" asp-action="UpdateTarea" asp-route-idTarea="@tarea.Id">Editar</a>
                    <a class="text-decoration-none ms-1 btn btn-primary" asp-controller="Tarea" asp-action="DeleteTarea" asp-route-idTarea="@tarea.Id" onclick="return confirm('¿Estas seguro que quieres eliminar la tarea?')">Eliminar</a> 
                </td>
            </tr>
        }
    </tbody>
</table>