@model UpdateTareaViewModel

<h1 class="text-center">Modificar Tarea</h1>
<form asp-controller="Tarea" asp-action="UpdateTarea">
    <div class="mb-3">
        <input hidden asp-for="@Model.Id">
        <label class="form-label" asp-for="@Model.IdTablero"></label>
        <select class="form-select w-50" aria-label="Default select example" asp-for="@Model.IdTablero">
            <option>Seleccione uno</option>
            @foreach (var tablero in Model.Tableros)
            {
                <option>@tablero.Id</option>
            }
        </select>
        <span asp-validation-for="@Model.IdTablero" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Nombre"></label>
        <input class="form-control w-50" asp-for="@Model.Nombre" value="@Model.Nombre">
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.EstadoTarea"></label>
        <select class="form-select w-50" aria-label="Default select example" asp-for="@Model.EstadoTarea" required>
        <option selected>@Model.EstadoTarea</option>
        @foreach (var estado in Enum.GetValues(typeof(EstadoTarea)))
        {
            <option value="@estado">@estado</option>
        }
    </select>
     <span asp-validation-for="@Model.EstadoTarea" class="text-danger"></span> 
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Descripcion"></label>
        <input class="form-control w-50" asp-for="@Model.Descripcion" value="@Model.Descripcion">
        <span asp-validation-for="@Model.Descripcion" class="text-danger"></span> 
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Color"></label>
        <input class="form-control w-50" asp-for="@Model.Color" value="@Model.Color">
        <span asp-validation-for="@Model.Color" class="text-danger"></span> 
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Id_usuario_asignado"></label>
        <select class="form-select w-50" aria-label="Default select example" asp-for="@Model.Id_usuario_asignado">
            <option >@Model.Id_usuario_asignado</option>
            @foreach (var usuario in Model.Usuarios)
            {
                <option>@usuario.Id</option>
            }
        </select>
    </div>
    <button class="btn btn-primary mt-2" type="submit">Enviar</button>
</form>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}
