@model CreateBoardViewModel
@{
    var id = Context.Session.GetInt32("Id");
    var nombreDeUsuario = Context.Session.GetString("NombreDeUsuario");
    var rol = Context.Session.GetString("Rol");
    ViewData["Title"] = "Crear tablero";
}

<h1 class="text-center text-primary">Crear Tablero</h1>
<form asp-controller="Board" asp-action="CreateBoard">
    @if (rol == "Administrador") {
        <div class="mb-3">
        <label class="form-label" asp-for="@Model.Id_usuario_propietario"></label>
        <select class="form-select w-50" aria-label="Default select example" asp-for="@Model.Id_usuario_propietario">
            <option selected>Seleccione uno</option>
            @foreach (var usuario in Model.Usuarios)
            {
                <option>@usuario.Id</option>
            }
        </select>
        <span asp-validation-for="@Model.Id_usuario_propietario" class="text-danger"></span>
    </div>
    } else {
        <input hidden value="@id" asp-for="@Model.Id_usuario_propietario">
    }
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Nombre"></label>
        <input class="form-control w-50" asp-for="@Model.Nombre">
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>  
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Descripcion"></label>
        <input class="form-control w-50" asp-for="@Model.Descripcion">
        <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>  
    </div>
    <button class="btn btn-primary mt-2" type="submit">Enviar</button>
</form>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}
