@model GetTablerosViewModel
@{
    var id = Context.Session.GetInt32("Id");
    var nombreDeUsuario = Context.Session.GetString("NombreDeUsuario");
    var rol = Context.Session.GetString("Rol");
    ViewData["Title"] = "Tableros";
}

<div class="text-center">
    <h1 class="text-primary">Tableros</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Usuario Propietario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model.Tableros) {
            <tr>
                <th scope="row">@tablero.NombreProp</th>
                <th scope="row">@tablero.Nombre</th>
                <th scope="row">@tablero.Descripcion</th>
                @if (tablero.Id_usuario_propietario == id || rol == "Administrador") {
                    <td class="ms-2">
                    <a class="text-decoration-none me-1 btn btn-primary btn-inline ms-2" asp-controller="Task" asp-action="GetTasksInBoard" asp-route-idBoard="@tablero.Id" asp-route-idOwnerBoard="@tablero.Id_usuario_propietario">Tareas</a>
                    </td>
                    <td class="">
                    <a class="text-decoration-none me-1 btn btn-primary ms-5" asp-controller="Board" asp-action="UpdateBoard" asp-route-idTablero="@tablero.Id">Editar</a>
                    <a class="text-decoration-none ms-1 btn btn-primary ms-5" asp-controller="Board" asp-action="DeleteBoard" asp-route-idTablero="@tablero.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el tablero @tablero.Nombre?')">Eliminar</a>
                    </td>
                } else {
                    <td>
                        <a class="text-decoration-none me-1 btn btn-primary ms-2" asp-controller="Task" asp-action="GetTasksInBoard" asp-route-idBoard="@tablero.Id" asp-route-idOwnerBoard="@tablero.Id_usuario_propietario">Tareas</a>
                    </td>
                    <td>
                        <span class="">No puedes editar o eliminar este tablero ya que no eres el propietario.</span>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>