@model UpdateUserViewModel

<h1 class="text-center">Modificar Usuario</h1>
<form asp-controller="Usuario" asp-action="UpdateUser">
    <input hidden asp-for="@Model.Id">
    <div  class="form-group">
        <label asp-for="@Model.NombreDeUsuario" class="form-label"></label>
        <input class="form-control w-50" asp-for="@Model.NombreDeUsuario" maxlength="30" placeholder="Juan Pérez">
    </div>
    <div class="form-group">
        <label asp-for="@Model.Contrasenia" class="form-label"></label>
        <input class="form-control w-50" asp-for="@Model.Contrasenia" type="password" value="@Model.Contrasenia">
        <span asp-validation-for="@Model.Contrasenia" class="text-danger"></span>   
    </div>
    <div class="form-group">
        <label asp-for="@Model.Rol" class="form-label"></label>
        <select class="form-select w-50" asp-for="@Model.Rol">
            <option selected>Seleccione uno</option>
        @foreach (var rol in Enum.GetValues(typeof(Roles)))
        {
            <option value="@rol">@rol</option>
        }
        </select>
        <span asp-validation-for="@Model.Rol" class="text-danger"></span>
    </div>
    <button class="btn btn-primary mt-2" type="submit">Enviar</button>
</form>